<div class="folder">
  <div class="user-item">
    {{#each users}}
      <div class="user">
        <div class="avatar-box">
          <a class="text1" href="/users/{{this.username}}">
          <img class="avatar" src="{{this.avatar}}" alt="{{this.nickname}}" />
        </div>
        <div class="info">
          <a class="text1" href="/users/{{this.username}}">
          <p class="name">{{this.name}}</p>
          <p class="nickname">{{this.nickname}}</p>
          </a>
        </div>
      </div>
      <p class="breaker"></p>
    {{/each}}
  </div>
</div>